*{
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between; /*Para ficar um de cada lado a div */
    width: 990px;
}
.logo{

display: flex;
align-items: center;
}
.menu{
 display: flex;
 align-items: center;
}
nav ul,
nav li{
 list-style: none;
 margin: 0;
 padding: 0;
}
nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: arial;

}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;

}
#banner{
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover; /*Significa que em espaços muito grandes a imagem vai aumentar, em celulares vai diminuir*/
    height: 670px;

}
.coluna{
    flex-direction: column;
}
.bannerheadline{
   flex:1; /*Essa div vai se adaptar ao layout*/
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.bannerheadline h1{
    color: white;
    font-size:50px ;
    text-shadow: 0px 2px 0px black;
    margin: 0px;
    padding: 0;
    max-width: 300px;
}
.bannerheadline h2{
    color: white;
    font-size:18px ;
    text-shadow: 0px 2px 0px black;
    margin-top: 30px;
}
.banneroption{
 height: 210px ;
 display: flex;

}
.banner1{
 flex: 1;
 background-color:#39aae1 ;
 padding: 20px;
}
.banner2{
    flex: 1;
    background-color: #0079c7;
    padding: 20px;

}
.banner3{
    flex: 1;
    background-color: #2b4c99 ;
    padding: 20px;

}
.banner_title{
  font-size: 21px;
  color: white;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.banneroption a{
    display:inline-block;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    color: #2b4c99 ;
   text-decoration: none;
   color: white;
}
.open{
    border-bottom:  1px solid #C4C4C4;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;

}
.open b{
    float: right;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;

}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px ;
}
.widget_title_text{
  color: black;
  font-size: 21px;
  font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
article .news_data{
    display: flex;

}
article{
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
}
.flex{ /*Div flex */
    display: flex;
    flex-wrap: wrap;

}
article a{
    text-decoration: none;
}
article .news_posted_at{
    background-color:#2b4c99 ;
    color: white;
    font-size: 12px;
    padding: 10px; /*O pading é para dar espaçamento entre as letras */
     margin-right:2px;
}
article .news_coments{
    background-color: #36a9e1;
    color: white;
    font-size: 12px;
    padding: 10px;
   

}
article .newws_thumball img{
    width: 100%;
    height: auto;

}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;


}
article .news_resume{
    color: black;
    font-size: 14px;
    line-height: 22px; /*Separar uma linha da outra */
    margin-bottom: 30px;
   
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
   
}
.fm_1, 
.fm_2 ,
.fm_3{
    flex: 1;
    color: white;
    padding: 20px;
}
.fm_1{
 background-color:#39aae1 ;

}
.fm_2{
 background-color: #0079c7;
 
   
 }
.fm_3{
  background-color: #2b4c99 ;

}
.footer_area{
  display: flex;
  background-color: black;
}
.footer_areaitem{
    flex: 1;
    color: white;

}
.flexcolumn{
  flex-direction: column;
}
footer .widget_title_text{
    color: white;
}
.footer_copy{
    border-top: 1px solid white;
    height: 80px;
    line-height: 40px;
    font-size: 12px;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
   
}
.menuMobile{ /* Botão onde nosso menu estará responsivo, o menu estará inserido
    nesse botão quando for aberto em um celular, três tracinhos */
    display:none ;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right:20px ;
}
.mm_line{
    height: 2px;
    background-color: #36a9e1;
    padding: 2px;
}

@media(max-width:600px){
    .bannerheadline h1{
        padding: 20px;
        font-size: 25px;
    }
    .bannerheadline h2{
        padding: 20px;
        font-size: 13px;
    }
    .banneroption{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;

    }
    #geral section{
        padding: 30px;
        margin: 10px;
    }
    #geral section,
    #geral aside{
        padding: 30px;
    }
    .widget_title{
        padding-top: 80px;
    }.footer_menu{
        flex-direction: column;

    }
    .footer_area{
        flex-direction: column;
        padding: 20px;

    }
    .footer_copy{
        padding: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header{
        height: auto;
    }
    .logo{
        padding-left:20px ;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
    }
}   
